<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Stays Marketplace</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-image: url("https://th.bing.com/th/id/OIG.JXdbTB_1FoGPjVejrcOv?pid=ImgGn");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .content {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body class="bg-white-500">
    <div class="container mx-auto px-4 md:px-8">
        <header class="py-4 truncate">
            <h1 class="text-3xl font-semibold text-black">Home Stays Marketplace</h1>
            <p class="text-sm text-black">Find your perfect home away from home</p>
        </header>
        <main class="mx-auto max-w-7xl mt-4">
            <section class="py-4 content">
                <h2 class="text-xl font-semibold text-gray-900">Welcome to the Home Stays Marketplace</h2>
                <p class="text-sm text-gray-500">The Home Stays Marketplace is a platform that connects travelers with
                    hosts offering unique and comfortable home stays.</p>
                <p class="text-sm text-gray-500">With the Home Stays Marketplace, you can:</p>
                <ul class="text-sm text-gray-500">
                    <li>Explore a wide range of home stays in various locations</li>
                    <li>View detailed information about each home stay, including amenities and pricing</li>
                    <li>Book your preferred home stay for your travel dates</li>
                    <li>Communicate with hosts to clarify any questions or special requirements</li>
                    <li>Leave reviews and ratings for the home stays you have experienced</li>
                </ul>
                <p class="text-sm text-#9333ea-500">If you don't have an account yet, <a href="/signup"
                        class="text-white bg-green-600 px-3 py-1 rounded font-medium">sign up here</a>.</p><br>
                <p class="text-sm text-#9333ea-500">If you already have an account, <a href="/login"
                        class="text-white bg-green-600 px-3 py-1 rounded font-medium">log in
                        here</a>.</p>
            </section>
        </main>
    </div>
</body>

</html>